html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
}


.dashboard {
    position: relative;
    width: 100vw;
    height: 100vh;
}


/* gambar memenuhi layar */
.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* tombol */
.nav-btn {
    position: absolute;
    text-decoration: none;
    color: #a8201a;
    border: 1.5px solid #a8201a;
    background: white;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}


/* posisi tombol */
./* Posisi tombol */

.home{
    top:40px;
    left:40px;
}

.study{
    top:40px;
    left:180px;
}

.about{
    top:40px;
    left:340px;
}

.nav-btn:hover{
    background:#a8201a;
    color:white;
}
