.dashboard {
    position: relative;
}

.dashboard img {
    width: 100%;
}

..button {
    position: absolute;
    width: 120px;
    height: 50px;
    background: white;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    color: brown;
    font-weight: bold;
}


/* tombol Home */
.home {
    top: 80%;
    left: 10%;
}


/* tombol Study */
.study {
    top: 80%;
    left: 45%;
}


/* tombol About */
.about {
    top: 80%;
    left: 75%;
}
