.dashboard {
    position: relative;
    width: 100%;
}

.dashboard img {
    width: 100%;
    display: block;
}

.button {
    position: absolute;
    width: 120px;
    height: 50px;
    background: white;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

/* posisi tombol di atas gambar */
.home {
    top: 80%;
    left: 10%;
}

.study {
    top: 80%;
    left: 45%;
}

.about {
    top: 80%;
    left: 75%;
}
